<footer class="site-footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
        <h5>{{ site.title }}</h5>
        <small class="d-block mb-3 text-muted">© 2025</small>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-decoration-none" href="mailto:staff@example.com"
              ><i class="bi bi-envelope"></i> Email</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="https://x.com/taotoru" target="_blank"
              ><i class="bi bi-twitter-x"></i> X</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#"
              ><i class="bi bi-youtube"></i> YouTube</a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#"
              ><i class="bi bi-discord"></i> Discord</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Support Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-decoration-none" href="#">Patreon</a></li>
          <li><a class="text-decoration-none" href="#">PayPal</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3 mb-3">
        <h5>Disclaimer</h5>
        <p class="text-muted small">
          Placeholder, add disclaimer here.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-bar border-top border-secondary">
    <p class="mb-0 py-3 text-center text-muted">© 2025 PLACEHOLDER</p>
  </div>
</footer>
